@import '../../index.css';


.app-body {
    align-self: center;
    max-width: var(--body-padding);
    min-width: var(--body-padding);
    --body-margin: 22px;
    margin: var(--body-margin);
}

.body-card {
    background: var(--CARD_BACKGROUND);
    border-radius: 6px;
    margin-bottom: var(--body-margin);
}

.body-pic {
    width: 42%;
    height: 42%;
    border-radius: 50%;
}

.top-card-text {
    color: var(--WHITE);
}

.body-text {
    color: var(--BLACK);
}

.body-section-title {
    color: var(--BLACK);
    font-size: large;
    margin: 0;
    margin-left: 6px;
    font-weight: bold;
    }

.body-section-header {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}