@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --MAIN_BACKGROUND: #37474F;
  --ACCENT_GREY: #9d9d9d;
  --HEADER_BACKGROUND: #263238;
  --CARD_BACKGROUND: #607D8B;
  --WHITE: rgb(255, 255, 255);
  --BLACK: #000;
  --body-padding: 75%;
}